.red{
  background:red;
}
.orange{
  background:orange;
}
.teal{
  background:teal;
}
.pink{
  background:pink;
}
.kim-header{

}
.alert alert-secondary{
  padding-left: 16px;
}
.bg-light{
  background aqua !important;
}

.media{
  font-size: 12px;
}
