.red{
  background:red;
}
.orange{
  background:orange;
}
.teal{
  background:teal;
}
.pink{
  background:pink;
}
.kim-header{

}

.bg-light{
  background aqua !important;
}

.media{
  font-size: 12px; 
}
